
.wrapTitleFilms div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.titleFilm {
  border: none;
  outline: none;
  background-color: #e2dfdf;
  width: 100%;
  text-align: start;
  // margin-bottom: 10px;
  line-height: 1.6;
}

.titleFilm:hover,
.titleFilm:focus {
  background-color: rgb(243, 165, 165);
}
